div {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 20px solid;
}

.circle1 {
  border-color: rgb(166, 236, 166);
  background-color: rgb(215, 255, 215);
}

.circle2 {
  border-color: rgb(113, 192, 113) transparent rgba(113, 192, 113, 1)
    rgba(113, 192, 113, 1);
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 40px;
  line-height: 100px;
}
span {
  font-size: 25px;
}
